[build]
builder = "DOCKERFILE"
dockerfilePath = "Dockerfile"

[deploy]
startCommand = "sh -c 'npx prisma db push --skip-generate --accept-data-loss; echo PRISMA_EXIT_CODE=$?; echo STARTING_NODE; exec node dist/main.js'"
healthcheckPath = "/health"
healthcheckTimeout = 300
numReplicas = 1
restartPolicyType = "ON_FAILURE"
restartPolicyMaxRetries = 5

